# Exploratory analysis on 2019 players scouts

It uses cartoleiro class that impements all the reading from API and consolidation of season data.

From begining, it initializes cartoleiro class to a cart object and show the columns from scout_table.

In [1]:
import cartoleiro

cart = cartoleiro.Cartoleiro(True)
cart.scout_table.columns

Index(['rodada_id', 'atleta_id', 'A', 'CA', 'CV', 'DD', 'DP', 'FC', 'FD', 'FF',
       'FS', 'FT', 'G', 'GC', 'GS', 'I', 'PE', 'PP', 'RB', 'SG', 'apelido',
       'clube_id', 'jogos_num', 'media_num', 'pontos_num', 'posicao_id',
       'preco_num', 'status_id', 'variacao_num'],
      dtype='object')

In [9]:
import pandas as pd

atletas_temp = cart.scout_table[["rodada_id", "atleta_id", "clube_id", "apelido", "posicao_id", "pontos_num", 
                                 "jogos_num"]]
lista = atletas_temp.set_index(["atleta_id", "rodada_id"])
atletas = pd.DataFrame()
for atleta in lista.index.get_level_values(0).unique():
    # .copy(deep=True) to supress SettingWithCopyWarning
    df = atletas_temp[atletas_temp.atleta_id == atleta].copy(deep=True) 
    # test to flag the player who plays in a specific round
    df["jogou"] = (df["jogos_num"].diff() != 0) & (df["jogos_num"] != 0)
    atletas = pd.concat([atletas, df], axis=0)
atletas = atletas[atletas.jogou]

atletas["pontos_num"].agg(["count","mean", "std", "min", "median", "max"])

count     1137.000000
mean         2.972331
std          4.050308
min         -9.000000
median       2.000000
max         22.700000
Name: pontos_num, dtype: float64

In [4]:
atletas.groupby("posicao_id")["pontos_num"].agg(["count","mean", "std", "min", "median", "max"])

            count      mean       std  min  median    max
posicao_id
1              77  3.688312  6.080858 -6.6    3.40  21.00
2             154  3.294805  4.130483 -5.7    2.85  17.40
3             164  2.511585  3.459767 -4.4    1.75  13.90
4             395  2.617468  3.510228 -4.1    1.60  19.40
5             272  3.170221  4.697856 -9.0    1.70  22.70
6              75  3.733867  1.780291 -0.3    3.54   8.98

In [68]:
atletas.groupby("rodada_id")["pontos_num"].agg(["count","mean", "std", "min", "median", "max"])

           count      mean       std  min  median   max
rodada_id
1            284  3.027289  4.516114 -9.0     1.8  22.7
2            285  2.755579  3.900233 -6.6     2.0  21.0
3            285  3.033649  3.875692 -5.6     2.0  18.8
4            283  3.073710  3.886629 -5.7     2.1  22.1

In [10]:
atletas.groupby("clube_id")["pontos_num"].agg(["count","mean", "std", "min", "median", "max"])

          count      mean       std  min  median   max
clube_id
262          59  2.915763  4.680321 -2.5   1.200  21.0
263          60  3.205500  4.971210 -6.6   1.500  19.4
264          60  3.203667  4.224691 -4.5   2.965  14.5
265          60  3.501833  3.448168 -3.0   2.600  13.0
266          59  1.995085  4.504924 -5.6   1.090  18.8
267          59  2.086441  3.165200 -5.7   1.700  11.9
276          60  3.163667  3.897462 -3.0   1.550  12.8
277          60  4.529000  5.527790 -9.0   3.800  22.1
282          60  3.334500  4.182778 -4.0   2.150  16.7
283          60  2.809167  4.292717 -3.0   1.450  21.0
284          60  3.351000  3.930371 -2.9   2.550  14.2
285          60  3.258000  3.552896 -2.7   3.050  13.5
290          60  2.744333  3.663203 -2.8   1.750  13.0
293          60  3.238167  4.280484 -3.3   2.270  18.8
314          60  1.962000  3.062406 -4.0   1.700  16.5
315          60  3.492667  4.217822 -2.5   2.750  17.0
341          60  2.414667  3.138277 -6.0   1.900  13.0
354          60  3.071500  4.214183 -4.9   2.150  22.7
356          60  2.165333  2.523414 -2.3   1.650   9.8

In [ ]:
atletas.groupby(["posicao_id", "rodada_id"])["pontos_num"].agg(["count","mean", "std", "min", "median", "max"])