In [71]:
from cartolafc_api import cartola_api
import pandas as pd

atletas = cartola_api.read_data()
df_atletas = pd.DataFrame(atletas["atletas"])
print(df_atletas[['atleta_id','apelido','rodada_id', 'scout']].head(10))
df_atletas.info()
# print(df_atletas[df_atletas.clube_id == 284])

   atleta_id        apelido  rodada_id  \
0      98765     Marquinhos          1
1      83004          Otero          1
2      38506           Lima          1
3     101716  Bruno Roberto          1
4      97619  Tomás Andrade          1
5      61033    Rodriguinho          1
6      38350  Fernando Leal          1
7      99817         Bremer          1
8      37655   Rafael Moura          1
9      38909          Diego          1

                                               scout
0                                                 {}
1  {'FC': 1, 'FD': 2, 'FF': 2, 'FS': 2, 'G': 1, '...
2                                                 {}
3                                                 {}
4                                                 {}
5       {'FC': 1, 'FS': 2, 'G': 2, 'PE': 5, 'RB': 1}
6                                                 {}
7      {'CA': 1, 'FC': 2, 'FS': 1, 'PE': 2, 'RB': 2}
8  {'A': 1, 'FC': 1, 'FF': 1, 'I': 1, 'PE': 4, 'R...
9  {'CA': 1, 'FC': 3, 'FF': 1, 'FS': 8, 'I': 1, '...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 788 entries, 0 to 787
Data columns (total 15 columns):
apelido         788 non-null object
atleta_id       788 non-null int64
clube_id        788 non-null int64
foto            754 non-null object
jogos_num       788 non-null int64
media_num       788 non-null float64
nome            788 non-null object
pontos_num      788 non-null float64
posicao_id      788 non-null int64
preco_num       788 non-null float64
rodada_id       788 non-null int64
scout           788 non-null object
slug            788 non-null object
status_id       788 non-null int64
variacao_num    788 non-null float64
dtypes: float64(4), int64(6), object(5)
memory usage: 92.4+ KB

In [130]:
#scouts = pd.DataFrame(df_atletas.loc[1,'scout'])
#for atleta in df_atletas:
    #input = dict(atleta_id=atleta['atleta_id'])
    #input.update(atleta['scouts'])
    #scouts.append(atleta['scouts'], ignore_index=True)
#print(scouts.head())
#print(df_atletas.loc[:,'scout'])
#print(df_atletas.loc[1])

#scouts = pd.DataFrame([df_atletas.loc[1,'atleta_id'], df_atletas.loc[1,'scout']], index=)
scouts = pd.DataFrame()
l = []
for index, atleta in df_atletas.iterrows():
    d = atleta['scout']
    d['atleta_id'] = atleta['atleta_id']
    d['rodada_id'] = atleta['rodada_id']
    l.append(d)
scouts = scouts.append(l)

scouts = scouts.set_index(['rodada_id','atleta_id'])
print(scouts.head(10))

                       A   CA  CV  DD   FC   FD   FF   FS  FT    G  GC  GS  \
rodada_id atleta_id
1         98765      NaN  NaN NaN NaN  NaN  NaN  NaN  NaN NaN  NaN NaN NaN
          83004      NaN  NaN NaN NaN  1.0  2.0  2.0  2.0 NaN  1.0 NaN NaN
          38506      NaN  NaN NaN NaN  NaN  NaN  NaN  NaN NaN  NaN NaN NaN
          101716     NaN  NaN NaN NaN  NaN  NaN  NaN  NaN NaN  NaN NaN NaN
          97619      NaN  NaN NaN NaN  NaN  NaN  NaN  NaN NaN  NaN NaN NaN
          61033      NaN  NaN NaN NaN  1.0  NaN  NaN  2.0 NaN  2.0 NaN NaN
          38350      NaN  NaN NaN NaN  NaN  NaN  NaN  NaN NaN  NaN NaN NaN
          99817      NaN  1.0 NaN NaN  2.0  NaN  NaN  1.0 NaN  NaN NaN NaN
          37655      1.0  NaN NaN NaN  1.0  NaN  1.0  NaN NaN  NaN NaN NaN
          38909      NaN  1.0 NaN NaN  3.0  NaN  1.0  8.0 NaN  NaN NaN NaN

                       I   PE   RB  SG
rodada_id atleta_id
1         98765      NaN  NaN  NaN NaN
          83004      1.0  NaN  3.0 NaN
          38506      NaN  NaN  NaN NaN
          101716     NaN  NaN  NaN NaN
          97619      NaN  NaN  NaN NaN
          61033      NaN  5.0  1.0 NaN
          38350      NaN  NaN  NaN NaN
          99817      NaN  2.0  2.0 NaN
          37655      1.0  4.0  1.0 NaN
          38909      1.0  5.0  1.0 NaN

In [17]:
df_atletas = df_atletas[df_atletas.status_id == 7]
print(df_atletas.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 782
Data columns (total 15 columns):
apelido         234 non-null object
atleta_id       234 non-null int64
clube_id        234 non-null int64
foto            234 non-null object
jogos_num       234 non-null int64
media_num       234 non-null float64
nome            234 non-null object
pontos_num      234 non-null float64
posicao_id      234 non-null int64
preco_num       234 non-null float64
rodada_id       234 non-null int64
scout           234 non-null object
slug            234 non-null object
status_id       234 non-null int64
variacao_num    234 non-null float64
dtypes: float64(4), int64(6), object(5)
memory usage: 29.2+ KB
None

In [18]:
jogos = pd.DataFrame(cartola_api.read_rounddata()['partidas'])
print(jogos.head())

  aproveitamento_mandante aproveitamento_visitante  clube_casa_id  \
0             [, , , , d]              [, , , , e]            282
1             [, , , , d]              [, , , , v]            289
2             [, , , , d]              [, , , , v]            315
3             [, , , , d]              [, , , , v]            265
4             [, , , , d]              [, , , , d]            266

   clube_casa_posicao  clube_visitante_id  clube_visitante_posicao  \
0                  14                 287                        9
1                  15                 264                        5
2                  20                 267                        6
3                  17                 277                        3
4                  13                 283                       16

            local         partida_data  partida_id placar_oficial_mandante  \
0   Independência  2018-04-22 16:00:00      221179                    None
1  Durival Britto  2018-04-22 11:00:00      221180                    None
2     Arena Condá  2018-04-22 16:00:00      221181                    None
3      Fonte Nova  2018-04-21 16:00:00      221182                    None
4        Maracanã  2018-04-22 16:00:00      221183                    None

  placar_oficial_visitante url_confronto url_transmissao  valida
0                     None                                  True
1                     None                                  True
2                     None                                  True
3                     None                                  True
4                     None                                  True