In [2]:
import pandas as pd

palyers_path_file = "../../data/scout_table.csv"

df = pd.read_csv(palyers_path_file, encoding='utf_16')

# list of columns selected for preprocessing
# columns deselected: 'apelido', 'status_id'
round_col_select = ['rodada_id', 'atleta_id', 'A', 'CA', 'CV', 'DD', 'DP', 'FC', 'FD', 'FF', 'FS', 'FT', 'G', 
                    'GC', 'GS', 'I', 'PE', 'PP', 'RB', 'SG', 'clube_id', 'jogos_num',  'media_num', 
                    'pontos_num', 'preco_num',  'posicao_id',  'variacao_num' ]

df = df[round_col_select]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22271 entries, 0 to 22270
Data columns (total 27 columns):
rodada_id       22271 non-null int64
atleta_id       22271 non-null int64
A               3911 non-null float64
CA              8227 non-null float64
CV              976 non-null float64
DD              1043 non-null float64
DP              199 non-null float64
FC              12255 non-null float64
FD              8240 non-null float64
FF              9650 non-null float64
FS              12419 non-null float64
FT              1872 non-null float64
G               4613 non-null float64
GC              248 non-null float64
GS              1061 non-null float64
I               4442 non-null float64
PE              13215 non-null float64
PP              342 non-null float64
RB              11724 non-null float64
SG              4057 non-null float64
clube_id        22271 non-null int64
jogos_num       22271 non-null int64
media_num       22271 non-null float64
pontos_num      22271 non-null float64
preco_num       22271 non-null float64
posicao_id      22271 non-null int64
variacao_num    22271 non-null float64
dtypes: float64(22), int64(5)
memory usage: 4.6 MB

In [3]:
df[df["atleta_id"]==80853].head(20)

,rodada_id,atleta_id,A,CA,CV,DD,DP,FC,FD,FF,...,PP,RB,SG,clube_id,jogos_num,media_num,pontos_num,preco_num,posicao_id,variacao_num
1,1,80853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,284,1,8.00,8.0,12.49,3,2.49
735,2,80853,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,7.0,NaN,284,2,4.30,0.6,11.61,3,-0.88
1493,3,80853,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,7.0,NaN,284,2,4.30,0.0,11.61,3,0.00
2241,4,80853,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,10.0,1.0,284,3,5.73,8.6,12.50,3,0.89
2958,5,80853,NaN,1.0,NaN,NaN,NaN,1.0,NaN,2.0,...,NaN,13.0,1.0,284,4,5.80,6.0,12.48,3,-0.02
3695,6,80853,NaN,1.0,NaN,NaN,NaN,2.0,NaN,2.0,...,NaN,17.0,2.0,284,5,6.68,10.2,14.06,3,1.58
4459,7,80853,NaN,2.0,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,18.0,2.0,284,6,5.48,-0.5,12.07,3,-1.99
5230,8,80853,NaN,2.0,NaN,NaN,NaN,3.0,1.0,3.0,...,NaN,23.0,3.0,284,7,6.57,13.1,14.75,3,2.68
5993,9,80853,NaN,2.0,NaN,NaN,NaN,3.0,1.0,3.0,...,NaN,23.0,3.0,284,7,6.57,0.0,14.75,3,0.00
7166,10,80853,NaN,2.0,NaN,NaN,NaN,3.0,1.0,3.0,...,NaN,23.0,3.0,284,7,6.57,0.0,14.75,3,0.00
7830,11,80853,NaN,2.0,NaN,NaN,NaN,3.0,1.0,3.0,...,NaN,23.0,3.0,284,7,6.57,0.0,14.75,3,0.00
8644,12,80853,NaN,2.0,NaN,NaN,NaN,5.0,1.0,3.0,...,NaN,24.0,4.0,284,8,6.50,6.0,13.62,3,-1.13
9291,13,80853,NaN,3.0,NaN,NaN,NaN,6.0,1.0,3.0,...,NaN,27.0,4.0,284,9,7.00,11.0,14.86,3,1.24
10274,14,80853,NaN,3.0,NaN,NaN,NaN,6.0,1.0,3.0,...,NaN,27.0,4.0,284,9,7.00,0.0,14.86,3,0.00
11217,15,80853,NaN,3.0,NaN,NaN,NaN,6.0,1.0,3.0,...,NaN,27.0,4.0,284,9,7.00,0.0,14.86,3,0.00
11950,16,80853,NaN,3.0,NaN,NaN,NaN,6.0,1.0,3.0,...,NaN,27.0,4.0,284,9,7.00,0.0,14.86,3,0.00
12697,17,80853,NaN,3.0,NaN,NaN,NaN,6.0,1.0,3.0,...,NaN,27.0,4.0,284,9,7.00,0.0,14.86,3,0.00
13513,18,80853,NaN,3.0,NaN,NaN,NaN,7.0,1.0,3.0,...,NaN,28.0,4.0,284,10,6.40,1.0,13.01,3,-1.85
14506,19,80853,NaN,3.0,NaN,NaN,NaN,7.0,1.0,3.0,...,NaN,28.0,4.0,284,10,6.40,0.0,13.01,3,0.00
15274,20,80853,NaN,3.0,NaN,NaN,NaN,7.0,1.0,3.0,...,NaN,28.0,4.0,284,10,6.40,0.0,13.01,3,0.00

In [4]:
# df = df[["rodada_id", "atleta_id", "clube_id", "posicao_id", "pontos_num", "jogos_num", "preco_num"]]

ind = df.set_index(["atleta_id", "rodada_id"])
df_players = pd.DataFrame()
for player in ind.index.get_level_values(0).unique():
    # .copy(deep=True) to supress SettingWithCopyWarning
    df_temp = df[df.atleta_id == player].copy(deep=True) 
    # test to flag the player who plays in a specific round
    df_temp["jogou"] = (df_temp["jogos_num"].diff() != 0) & (df_temp["jogos_num"] != 0)
    df_players = pd.concat([df_players, df_temp], axis=0)
# # discard rows where player didnt play the match
df_scouts = df_players # [df_players.jogou]

In [80]:
df_scouts = df_scouts[['A', 'CA', 'CV', 'DD', 'DP', 'FC', 'FD', 'FF', 'FS', 'FT', 'G', 'GC', 'GS', 'I', 'PE', 'PP', 'RB', 'SG']].fillna(0)

#.fillna(value=0)

#df_scouts["FI"] = df_scouts['A'] + df_scouts['FD'] + df_scouts['FF'] + df_scouts['FT'] + df_scouts['G']
#df_scouts = df_scouts.drop(columns=['A', 'FD', 'FF', 'FT', 'G'])
#df_scouts["SG"] /= df_scouts["jogos_num"]


df_scouts[df_scouts["atleta_id"]==80853].head(20)

KeyError: 'atleta_id'